<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-计网赖天组期末网站-HOLA</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="icon" href="../resource/img/imageonline-co-pngtoicoimage.ico">
</head>
    <body>
        <div class="logo">
            <img src="../resource/img/rblogo.png" alt="logo">
        </div>
        <div id="register" class="page">
            <div class="container">
                <div class="left">
                    <div class="login">注册</div>
                    <div class="eula">通过注册即表示你同意<a href="../html/yh.html">《用户协议》</a>和<a href="../html/ys.html">《隐私政策》</a>
                    </div>
                </div>
                <div class="right">
                    <svg viewBox="0 0 320 380">
                        <defs>
                            <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                                y2="193.49992" gradientUnits="userSpaceOnUse">
                                <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                                <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                            </linearGradient>
                        </defs>
                        <path
                            d="m 40,120.00016 239.99984,-3.2e-4 
                            c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 
                            c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 239 
                            c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -200
                        c 0,0 -20,0.99604 -20,25 0,24.00396 20,25 20,25 h 10" />
                    </svg>
                    <div class="form">
                        <label for="account">邮箱</label>
                        <input v-model="account" type="account" id="account">
                        <label for="password">密码</label>
                        <input v-model="password" type="password" id="password">
                        <label for="confirm_password">确认密码</label>
                        <input v-model="confirm_password" type="password" id="confirm_password">
                        <input @click.stop="register" type="submit" id="submit" value="注册">
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#register',
                data: {
                    account: '',
                    password: '',
                    confirm_password: ''
                },
                methods: {
                    register: function () {
                        if (this.account === '' || this.password === '' || this.confirm_password === '') {
                            alert('邮箱和密码不能为空！')
                            return
                        }
                        else if (this.password !== this.confirm_password) {
                            alert('两次密码不一致！')
                            return
                        }
                        let data = {
                            account: this.account,
                            password: this.password
                        }
                        fetch('https://api.apiopen.top/api/register', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('注册成功！')
                                console.log(object);
                                sessionStorage.setItem('isLoggedIn', JSON.stringify(true));
                                sessionStorage.setItem('account', this.account);
                                location.href = './index.html'
                            } else {
                                alert('注册失败！')
                            }
                        }).catch(error => {
                            console.log(error)
                        })
                    }
                }
            })
        </script>
        <script src="../../node_modules/animejs/lib/anime.min.js"></script>
        <script type="text/javascript" src="../js/register.js"></script>
    </body>
</html>